*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 5980px;
}
.header{
    width: 100%;
    height: 50px;
    background-color:rgb(238, 204, 141) ;
    /* opacity: 0.9; */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    overflow: auto;
    text-transform: capitalize;
}

.img-header{
    float: left;
    margin-left: 10px;
    margin-top: 2px;
}
.i1-header{
    color: black;
    float: right;
    margin-top: 15px;
    margin-right: 15px;
}
.i1-header:hover{
    font-size: 20px;
}
.list-header{
    list-style: none;
    float: left;
    margin-top: 15px;
    margin-right: 50px;
    margin-left: 280px;
}
.list-header li{
    display: inline;
    margin-left: 30px;
}
.list-header a{
    text-decoration: none;
    color: black;
}
.list-header a:hover{
    opacity: 0.5;
}



/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.furniture-section{
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../images/67e41ca2-57f3-470f-8fde-6e5e08f3d731.jpg)
    
}
.furniture-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
}
.furniture-parent{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    text-align: center;
}
.furniture-title{
    color: white;
    text-transform: capitalize;
    font-size: 60px;
    padding: 0px 20px;
}
.furniture-p{
    text-transform: capitalize;
    letter-spacing: 2px;
    padding: 10px 30px;
    font-size: 15px;
    color: rgb(196, 190, 190);
}
.furniture-btn{
    padding: 10px 30px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    margin-top: 20px;
}
.furniture-btn:hover{
    opacity: 0.4;
    cursor: pointer;
}
/* //////////////////////////////////////////////////////////////////////////////////// */

.services-title{
    margin-top: 30px;
    text-transform: capitalize;
    font-size: 40px;
    text-align: center;
}
.services-line{
    width: 100px;
    height:2px;
    margin:auto;
    background-color:black;
}
.services-container{
    width: 80%;
    margin: auto;
}
.services-parent{
    overflow: auto;
}
.services-item{
    width: 30%;
    float: left;
    margin-top: 50px;
    background-color: rgb(233, 223, 223);
    border: 0;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 20px 30px ;
    cursor: pointer;
    transition: 0.2s;
}
.services-item:hover{
    /* transform: translateY(-5px); */
    background-color:rgb(206, 171, 107) ;

}
.services-item:hover .sip{
    color: white;
}
.services-item:hover .sit{
    color: white;
}

.si2{
    margin: 50px 5%;
    background-color: rgb(206, 171, 107);
    color: white;
}
.services-img{
    float: left;
    width: 40px;
    height: 40px;
}
.services-info{
    margin-left: 50px;
}
.services-info-title{
    text-transform: capitalize;
}
.services-info-p{
    font-size: 12px;
    padding:2px 2px ;
    line-height: 20px;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.collections-title{
    margin-top: 30px;
    text-transform: capitalize;
    font-size: 40px;
    text-align: center;
}
.collection-line{
    width: 100px;
    height:2px;
    margin:auto;
    background-color:black;
}
.collections-container{
    width: 70%;
    margin: auto;
}
.collections-parent{
    overflow: auto;
}
.collections-item{
    width: 30%;
    float: left;
    margin-top: 50px;
    position: relative;
}
.ci2{
    margin: 50px 5% 0 5%;
}
.ci5{
    margin: 50px 5%;
}
.collections-img{
    position: relative;
}
.img-collections{
    margin: 15px 10px 15px  13px;
    width: 90%;
    height: 250px;
    border-radius: 10px;
}
.collection-overlay{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    visibility: hidden;
    /* transition: .6s; */

}
.collections-item:hover .collection-overlay{
    visibility: visible;
}
.overlay-icon{
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius:50%;
    margin-left: 5px;
    background-color: #ab8739;
    visibility: hidden;
    opacity: 0;
    /* transition: .4s;
    transition-delay: .6s; */

}
.overlay-icon a i{
    margin:6px 7px ;
    font-size: 22px;
    color: #e8eedc;
}
.collection-overlay-icon{
     /* margin-top: 42%; */
     margin-left: 35%;
}
.collections-item:hover .collection-overlay .collection-overlay-icon .overlay-icon{
    visibility:visible;
    opacity: 1;
}
.collection-info{
    margin-left: 30%;
    margin-top: 30%;
    color:white;
}
.collection-info h2{
    padding:0 28px;
}
.collection-info p{
    padding:10px 0;

}
.col-info{
    margin-left:20px;
}
.col-info p{
    opacity:0.7;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////// */
.offer-title{
    margin-top: 60px;
    text-transform: capitalize;
    font-size: 40px;
    text-align: center;
}
.offer-line{
    width: 60px;
    height: 2px;
    background-color: black;
    margin: auto;
}
.offer-container{
    width: 80%;
    margin: auto;
}
.offer-parent{
    overflow: auto;
}
.offer-item{
    width: 30%;
    float: left;
    margin-top: 60px;
    border: 2px solid black;
    border-radius:10px;
    padding: 25px 25px;
    text-transform: capitalize;
    position: relative;
}
.oi2{
    margin: 60px 5% 0 5%;
}
.oi5{
    margin: 60px 5%;
}
.oi6{
    padding: 12px 25px;
}
.offer-icon{
    float: left;
    font-size: 35px;
    color: black;
    position: absolute;
}
.offer-info{
    margin-left: 50px;
}
/* .offer-info-title{
    text-transform: capitalize;
} */
.offer-info-p{
    padding: 2px 2px;
    font-size: 12px;

}
.offer-item::before{
    position: absolute;
    width: 0;
    height: 0;
    content: " ";
    top: 0;
    left: 0;
    background-color: #636760;
    opacity: 1;
}
.offer-item:hover::before{
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 1s;
}
.offer-item:hover .offer-info-title{
    color: rgb(165, 101, 42);
}


/* ////////////////////////////////////////////////////////////////// */


.discount-parent{
    width: 100%;
    height: 50vh;
    background-image: url(../images/1668199030649.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 5px;
    margin-top: 100px;
}
.discount-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

}
.discount-item{
    color: white;
    margin-top: 50px;
    margin-left: 30px;
}
.discount-p{
    font-size: 50px;
    padding: 1px 10px;
    text-transform: capitalize;
}
.discount-p2{
    font-size: 30px;
    padding: 1px 10px;
    
}.discount-btn{
    font-size: 15px;
    padding: 10px 20px;
    margin-left: 30%;
    margin-top: 50px;
    border: 2px solid cornsilk;
    border-radius: 10px;
    text-transform: capitalize;
}
.discount-btn:hover{
    opacity: 0.7;
    cursor: pointer;
}
/* /////////////////////////////////////////////////////////////////////////////////// */
.choose-container{
    width: 80%;
    margin: auto;
}
.choose-parent{
 overflow: auto;  
}
.choose-info{
    width: 40%;
    float :left;
    margin-top:10%;
}
.choose-item{
    margin-left: 70%;
    float :left;
    margin-top:-40% ;
}
.choose-img{
    width: 300px;
    height: 400px;
    /* margin-top: 10px; */
    border: 0;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
}
.choose-bolts {
    list-style: none;
    text-align: center;
}
.bolts{
    width: 10px;
    height: 10px;
    background-color: #999d97;
    margin:20px 5px;
    border-radius: 50%;
    display: inline-block;
}
.b1{
    background-color:rgb(26, 24, 24) ;
}
.bolts:hover{
    background-color: rgb(26, 24, 24);
}

.choose-title{
    font-size: 40px;
    text-transform: capitalize;
}
.choose-p{
    font-size: 12px;
    letter-spacing: 1px;
    padding: 10px 5px;
}
.choose-icon{
    margin-top: 10px;
    font-size: 20px;
    padding: 7px 2px;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////// */
.payment-title{
    text-align: center;
    text-transform: capitalize;
    font-size: 35px;
    margin-top: 100px;
}
.payment-line{
    width: 80px;
    height: 2px;
    background-color: black;
    margin: auto;
    margin-top: 10px;
}
.payment-container{
    width: 80%;
    margin: auto;
}
.payment-parent{
    overflow: auto;
    margin-top: 50px;
}
.payment-item{
    width: 30%;
    float: left;
    border: 1px solid rgb(22, 21, 21);
    border-radius: 5px;
    text-align: center;
    padding: 20px 10px;
    background-color: rgb(233, 223, 223);
    position: relative;
}
.pi2{
    margin: 0 5%;
    background-color: rgb(206, 171, 107);
}
.payment-icon{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid black;
    margin: auto;
}
.p-icon{
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
}
.payment-item-title{
    font-size: 30px;
    padding: 20px 25px;
}
.payment-item-p{
    padding: 20px 25px;
    margin-top: 10px;
}
.payment-btn{
    left: 35%;
    width: 110px;
    padding: 10px;
    margin-top: 37px;
    font-size: 14px;
    text-transform: capitalize;
    background-color: rgb(250, 248, 245);
    border: 1px solid #f6f8f5;
    border-radius: 10px;
    cursor: pointer;
}
.payment-item::after{
    position: absolute;
    width: 0;
    height: 100%;
    content: " ";
    top: 0;
    right: 0;
    background-color: #636760;
    opacity: .7;
    transition: 1s;
}
 .payment-item:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0;
}
.payment-item::before{
    position: absolute;
    width: 0;
    height: 100%;
    content: " ";
    top: 0;
    left: 0;
    background-color: #636760;
    opacity: .7;
    transition: 1s;
}
 .payment-item:hover::before{
    width: 100%;
    height: 100%;
    opacity: 0;
}
    
  
/* ///////////////////////////////////////////////////////////////////////////////// */

.static-parent{
    width: 100%;
    height: 50vh;
    margin-top: 100px;
    background-image: url(../images/harris-sofa-76-108-fwh.jpg);
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 5px;
}
.static-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.static-item{
    float: left;
    margin-left: 170px;
    margin-top: 100px;
    color:white
}
.static-item-icon{
    font-size: 40px;
    margin-left: 18px;
}

.static-item-title1{
    margin-left: 20px;
    padding: 10px 0 0 0;
}
.static-item-title0{
    margin-left: 35px;
    padding: 10px 0  0  0;
}
.static-item-icon0{
    font-size: 40px;
    margin-left: 35px;
}
/* ///////////////////////////////////////////////////////////////////////////////////////// */
.recent-title{
    margin-top: 60px;
    text-transform: capitalize;
    font-size: 40px;
    text-align: center;
}
.recent-line{
    width: 70px;
    height: 2px;
    margin: auto;
    margin-top: 10px;
    background-color: black;
}
.recent-container{
    width: 80%;
    margin: auto
}
.recent-parent{
    overflow: auto;
}
.ri2{
    margin: 0 5%;
}
.recent-item{
    width: 30%;
    float: left;
    border: 1px solid rgb(39, 38, 38);
    padding: 20px 0px;
    margin-top: 50px;
    position: relative;
}
.recent-img{
    width: 80%;
    height: 180px;
    border: 0;
    border-radius: 10px;
    margin-left: 28px;
}
.recent-info-icon i{
    list-style: none;
    margin-left: 10px;
}
.recent-info-icon li{
    display:inline-block;
    margin-left: 20px;
    padding: 5px 0px;
}
.recent-info-title{
    text-transform: capitalize;
    padding: 5px 0px;
    margin-left: 15px;
}
.recent-info-p{
    font-size: 12px;
    letter-spacing: 1px;
    padding: 5px 0px;
    margin-left: 15px;
}
.recent-info a{
    text-decoration: none;
    padding: 10px 15px;
}
.recent-item::before{
    position: absolute;
    width: 0;
    height: 0;
    content: " ";
    top: 0;
    right: 0;
    background-color: #636760;
    opacity: 0;
    transition: 1s;
}
 .recent-item:hover::before{
    width: 100%;
    height: 100%;
    opacity: 0.2;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.team-title{
    font-size: 35px;
    text-transform: capitalize;
    margin-top: 100px;
    text-align: center;
}
.team-line{
    width: 50px;
    height: 2px;
    background-color: black;
    margin: auto;
}
.team-container{
    width: 80%;
    margin: auto;
}
.team-parent{
    overflow: auto;
    margin-top: 20px;
}
.team-item{
    float: left;
    width: 30%;
    padding: 30px 15px;
    text-align: center;
    /* border: 1px solid #6d7966;
    border-radius: 4px;
    position: relative; */
}
.ti2{
    margin: 0px 5%;
}
.team-img{
    width: 85%;
    margin: auto;
    position: relative;
}
.team-img img{
    width: 100%;
    border-radius: 10px;
}
.team-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
}
.team-item:hover .team-overlay{
    visibility: visible;
}
.team-overlay a{
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgb(146, 78, 46);
    color: black;
    margin-left: auto;
}
.team-overlay a i{
    line-height: 40px;   
}
.team-info-title{
    text-transform: capitalize;
}
.team-info-p{
    text-transform: uppercase;
    font-size: 12px;
    padding: 2px 0;
}
.team-overlay::after{
    position: absolute;
    content: " ";
    width:100%;
    height:0;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 1s;
    background-color: #bac5ba;
}
.team-overlay:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.3;
}
/* //////////////////////////////////////////////////////////////////////////// */
.last-parent{
    width: 100%;
    height: 45vh;
    background-color: rgb(233, 223, 223);
    position: relative;
    border: 0;
    margin-top: 100px;
}
.last-item img{
    margin-left: 12%;
    overflow: auto;
    margin-top: 60px;
}
.last-info{
    margin-left: 10%;
}
.last-info-p{
    padding: 20px 10px;
    margin-left: 10px;
}
.last-info-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgb(32, 30, 30);
    float: left;
    margin-left: 10px;
}
.icon{
    /* display: inline-block; */
    font-size: 20px;
    color:black ;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
}
.last-info-icon:hover{
    background-color: rgb(206, 171, 107) ;
}
.last-info-icon:hover .icon{
    color: cornsilk;
}
.last-item2{
    float: left;
    margin-left: 18%;
    margin-top: -10%;
}
.last-info2 h2{
    font-size: 25px;
    text-transform: capitalize;
    padding: 8px 0;
}
.last-info2 p{
    padding: 8px 0;
    text-transform: capitalize;
}





